#quick-search-tab-area,
#breadcrumb-widget,
div[class*="HeaderMenuNonProductSearch_nonProductSearchContainer__"] {
  display: none;
}

div[class*="HeaderWidget_headerClientSideDesktop___"] {
  background: var(--kapsula-night);
}

.basic-menu-item {
  color: var(--kapsula-white);

  .menu-item-label span {
    color: inherit;
  }
}

div[class*="HeaderTopBar_iconContainer__"] > * {
  color: var(--kapsula-white) !important;
}

div[class*="HeaderTopBar_iconContainer__"] > * button,
div[class*="HeaderTopBar_iconContainer__"] > * a {
  color: var(--kapsula-white) !important;
}

div[class*="DepartureContact_departureContactPhone__"] {
  color: var(--kapsula-white) !important;
}

.header-mobile {
  height: 56px !important;
}

div[class*="HeaderTopBar_iconContainer__"] svg path,
div[class*="HeaderTopBar_iconContainer__"] svg circle,
div[class*="HeaderTopBar_iconContainer__"] svg ellipse {
  stroke: var(--kapsula-white) !important;
}

.kapsula-header-logo {
  display: flex;
  align-items: center;
}

.kapsula-header-logo__link {
  margin-right: 6px;
}

.kapsula-header-logo__link,
.kapsula-header-logo__image {
  display: block;
}

.kapsula-header-logo__image {
  display: block;
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.submenu .custom-link {
  color: var(--kapsula-black);
}

@media (min-width: 993px) {
  div[class*="HeaderLogo_container__"]:not(.kapsula-header-logo) {
    display: none;
  }
}
