@use "../settings/media";

// html:has(.kapsula),
// body:has(.kapsula) {
//   overflow: hidden;
//   overscroll-behavior: none;
// }

.kapsula :is(.kapsula-form, .kapsula-steps__cards) {
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
}

.layout-container-limit:has(.kapsula) {
  max-width: unset !important;
  padding: 0 !important;
}

.row-outer-container:not(:has([class*="header"])):not(:has(.kapsula-screen)) {
  @include media.desktop {
    display: none;
  }
}

#footer-row {
  display: none;
}

:is(
  #section-row-4,
  #section-row-8,
  #section-row-9,
  #section-row-10,
  #section-row-11,
  #section-row-13
) {
  display: none;
}

div[class*="QSBlockMobile_qsBlockMobileContainer__"] {
  padding: 0 !important;
}

.layout-container-limit {
  @include media.mobile-only {
    padding: 0;
  }
}

html:has(.kapsula) {
  @include media.desktop {
    overflow: hidden;
  }
}

body:has(.kapsula) {
  @include media.desktop {
    overflow: hidden;
  }
}
