@use "../settings/media";

.kapsula-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--kapsula-radius-md);
  background: var(--kapsula-gold);
  padding: 16px 20px;
  color: var(--kapsula-white) !important;
  font-size: var(--kapsula-font-size-md);
  line-height: var(--kapsula-line-height-tight);
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  transition: background-color 180ms ease;

  &:hover {
    background: var(--kapsula-gold-strong);
    color: var(--kapsula-white);
  }

  &:active {
    background: var(--kapsula-gold-active);
  }
}

.kapsula-button--hero {
  @include media.mobile-only {
    margin: 0 auto;
  }
}

body[data-kapsula-constructor-route] .kapsula-button--header {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  @include media.wide {
    padding-inline: 16px;
    height: 48px;
    width: fit-content;
  }
}

.kapsula-button__icon {
  display: inline-flex;
  line-height: var(--kapsula-line-height-zero);
}

.kapsula-button__icon svg {
  display: block;

  @include media.wide {
    display: none;
  }
}

body[data-kapsula-constructor-route] .kapsula-button--header .kapsula-button__text {
  display: none;

  @include media.wide {
    display: inline;
  }
}


body[data-kapsula-constructor-route] [class*="__jivoDesktopButton"] {
  display: none !important;
}
