.sunmarino {
  padding-block: 40px;
  padding-inline: 16px;
}

.sunmarino.kv {
  padding-block: 0;
  padding-inline: 0;
}

@media (min-width: 993px) {
  .sunmarino {
    padding-inline: 0;
  }
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.sunmarino .longrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.row-container:has(.sunmarino) {
  overflow-x: visible;
}
